.auntBtn {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    padding-right: 8px;
  }
  
  .regBtn {
    text-decoration: none;
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
    padding: 6px 18px 10px 18px;
  }